@media only screen and (max-width: 1750px) {
    .container { font-size: 30px; }
    .menu { font-size: 31px; }
    .grass { 
        width: 65px;
        margin-left: -23px;
    }
}


@media only screen and (max-width: 1550px) {
    .slogan { padding: 0 30px; }
    .slogan_title { font-size: 50px; }
    .container { font-size: 27px; }
    .slogan_best { font-size: 39px; }
    .slogan_img { width: 19px; }
    .menu { font-size: 28px; }
    .grass { width: 60px; }
 
}

@media only screen and (max-width: 1381px) {
    .menu { font-size: 27px; }
    .container { font-size: 26px; }
    .grass { width: 59px; }
}


@media only screen and (max-width: 1331px) {
    .menu { font-size: 26px; }
    .container { font-size: 25px; }
}

@media only screen and (max-width: 1279px) {
    .menu { font-size: 25px; }
    .container { font-size: 24px; }
    .grass { width: 58px; }
}

@media only screen and (max-width: 1235px) {
    .menu { font-size: 24px; }
    .container { font-size: 23px; }
}

@media only screen and (max-width: 1210px) {
    .menu { font-size: 23px; }
    .container { font-size: 22px; }
    .slogan_title { font-size: 43px; }
    .slogan_best { font-size: 33px; }
    .slogan_img { width: 16px; }
}



@media only screen and (max-width: 1126px) {
    .menu { font-size: 22px; }
    .container { font-size: 21px; }
    .slogan_title { font-size: 41px; }
    .slogan_best { font-size: 31px; }
    .slogan_img { width: 14px; }
    .grass { width: 56px; }
}

@media only screen and (max-width: 1074px) {
    .menu { font-size: 21px; }
    .container { font-size: 20px; }
    .grass {
        width: 55px; 
    
    }
}

@media only screen and (max-width: 1024px) {
    .header-top { display: none; }
    .header-top-mobile { display: block; }
    .grass { display: none; }
    .grass_mobile { display: inline-block; }
    .imgTitle{ display: none; }
    .imgTitle_mobile{ display: inline-block; }
    .plank{ display: none; }
    .plank_mobile{ display: block; }
}
