/* main-mobile */

@media only screen and (max-width: 1768px) {
    .catalog-page {
        box-sizing: border-box;
        width: 100%;
        padding-left: 1.4%;
        padding-right: 1.4%;
    }
    
    .blocksBottom { width: 50%; }
    .blockLeft { margin-right: 1.44%; }

}

@media only screen and (max-width: 1550px) {
    .catalog-page{
        font: 31px 'Century';
    }
    .headerText{
        font: normal 31px 'Century';
        line-height: 52px;
    }
    .button{
        font: 31px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 61px 0;
    }
    .txt{
        font: 31px "Courier New";
    }
}

@media only screen and (max-width: 1381px) {
    .catalog-page{
        font: 30px 'Century';
    }
    .headerText{
        font: normal 30px 'Century';
        line-height: 51px;
    }
    .button{
        font: 30px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 65px 0;
    }
    .txt{
        font: 30px "Courier New";
    }
}

@media only screen and (max-width: 1331px) {
    .catalog-page{
        font: 29px 'Century';
    }
    .headerText{
        font: normal 29px 'Century';
        line-height: 50px;
    }
    .button{
        font: 29px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 67px 0;
    }
    .txt{
        font: 29px "Courier New";
    }
}


@media only screen and (max-width: 1279px) {
    .catalog-page{
        font: 28px 'Century';
    }
    .headerText{
        font: normal 28px 'Century';
        line-height: 49px;
    }
    .button{
        font: 28px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 69px 0;
    }
    .txt{
        font: 28px "Courier New";
    }
}

@media only screen and (max-width: 1235px) {
    .catalog-page{
        font: 27px 'Century';
    }
    .headerText{
        font: normal 27px 'Century';
        line-height: 48px;
    }
    .button{
        font: 27px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 71px 0;
    }
    .txt{
        font: 27px "Courier New";
    }
}

@media only screen and (max-width: 1210px) {
    .catalog-page{
        font: 26px 'Century';
    }
    .headerText{
        font: normal 26px 'Century';
        line-height: 47px;
    }
    .button{
        font: 26px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 73px 0;
    }
    .txt{
        font: 26px "Courier New";
    }
}

@media only screen and (max-width: 1126px) {
    .catalog-page{
        font: 25px 'Century';
    }
    .headerText{
        font: normal 25px 'Century';
        line-height: 46px;
    }
    .button{
        font: 25px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 77px 0;
    }
    .txt{
        font: 25px "Courier New";
    }
}

@media only screen and (max-width: 1074px) {
    .catalog-page{
        font: 24px 'Century';
    }
    .headerText{
        font: normal 24px 'Century';
        line-height: 45px;
    }
    .button{
        font: 24px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 79px 0;
    }
    .txt{
        font: 24px "Courier New";
    }
}

@media only screen and (max-width: 975px) {
    .catalog-page{
        font: 23px 'Century';
    }
    .headerText{
        font: normal 23px 'Century';
        line-height: 44px;
    }
    .button{
        font: 23px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 81px 0;
    }
    .txt{
        font: 23px "Courier New";
    }
}

@media only screen and (max-width: 940px) {
    .catalog-page{
        font: 22px 'Century';
    }
    .headerText{
        font: normal 22px 'Century';
        line-height: 43px;
    }
    .button{
        font: 22px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 83px 0;
    }
    .txt{
        font: 22px "Courier New";
    }
}

@media only screen and (max-width: 904px) {
    .catalog-page{
        font: 21px 'Century';
    }
    .headerText{
        font: normal 21px 'Century';
        line-height: 42px;
    }
    .button{
        font: 21px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 85px 0;
    }
    .txt{
        font: 21px "Courier New";
    }
}

@media only screen and (max-width: 883px) {
    .catalog-page{
        font: 20px 'Century';
    }
    .headerText{
        font: normal 20px 'Century';
        line-height: 41px;
    }
    .button{
        font: 20px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 89px 0;
    }
    .txt{
        font: 20px "Courier New";
    }
}

@media only screen and (max-width: 816px) {
    .catalog-page{
        font: 19px 'Century';
    }
    .headerText{
        font: normal 19px 'Century';
        line-height: 40px;
    }
    .button{
        font: 19px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 91px 0;
    }
    .txt{
        font: 19px "Courier New";
    }
    .planks{
        height: 9px;
    }
}

@media only screen and (max-width: 782px) {
    .catalog-page{
        font: 18px 'Century';
    }
    .headerText{
        font: normal 18px 'Century';
        line-height: 39px;
    }
    .button{
        font: 18px "Courier New";
    }
    .paragraphBottom{
        margin: 0 0 93px 0;
    }
    .txt{
        font: 18px "Courier New";
    }
}

@media only screen and (max-width: 768px) {
    .header-top { display: none; }
    .header-top-mobile { display: block; padding: 0 0 0px 0;}
    .catalog-page{
        box-sizing: content-box;
        width: 89.941%;
        padding-left: 4.966%;
        padding-right: 4.966%;
        font: 25px 'Century';
        padding: 18px 0px;
        margin: 33px auto;
    } 
    .headerText{
        font: 25px 'Century';
        line-height: 39px;
    }
    .blocksBottomContainer{
        
        display: block;
    }
    .blocksBottom, .blockTop{
        margin:  0px auto 13px;
/*        width: 608px;*/
        width: 93.298%;
    }
    .blockTop{
        box-sizing: border-box;
        margin:  0px auto 13px;


    }
    
    .blocksBottom:last-child{
        margin:  0px auto;
    }
    
    .paragraphBottom{
        margin: 0 0 40px 0;
    }
    .planks{
        width: 94.41%;
        height: 8px;
        margin: 0px auto;
        background-image: url(../content/blackPlank.png);
        background-size: cover;
    }
    .bottomText{
        padding: 14px 17px;
    }
    .button{
/*        font-size: 25px;*/
        font-size: 3.25vw;
    }
    .bottomText2 {
        padding: 14px 17px 0px 17px;
    }
    .paragraphBottomRight {
        margin: 0 0 8px 0;
    }
    .txt{
        height: 41px;
    }
    .sendButton{
        margin: 20px auto;
    }
    
    
}

@media only screen and (max-width: 482px) {
    .catalog-container{
        
/*        max-width: 397px;*/
        display: block;
    }
    .bottomText2{
        display:none;
    }
    .bottomText2_mobile{
        display:block;
        padding: 9px 16px 0px 16px;
    }
    .SendButton{
        margin: 7px auto;
        height: 30px;
    }
    .catalog-page{
        width: 89.815%;
        margin: 14px auto;
        padding: 14px 0px;
        
        font: 17px 'Century';
    }
    
    .blockTop{
        padding: 12px 12px 12px 12px;
        margin-bottom: 1.63%;
        width: 92.445%;
    }
    .blockLeft{
        margin-bottom: 1.63%;
        width: 92.445%;
    }
    .blockRight{
        width: 92.445%;
    }
    .headerText {
        font: 17px 'Century';
        line-height: 31px;
        margin: 0 0 2.5px 0;
    }
    .planks {
        width: 92.916%;
        height: 7px;
        margin: 0px auto;
        background-image: url(../content/blackPlank.png);
        background-size: cover;
    }
    .bottomText {
        padding: 9px 16px;
    }
    .paragraphBottom {
        margin: 0 0 25px 0;
    }
    .txt{
/*        width: 335px;*/
        width: 100%;
        margin: 0 0 12px 0;
        font: 17px 'Century';
    }
    .txt_area{
        height: 64px;
        margin: 0 0 0px 0;
    }
    .button{
        font: 3.53vw "Courier New";
    }
    .sendButton{
        margin: 7px auto;
        width: 42.894%;
        background-image: url(../content/orderButton_phone.png);
        
    }
}




@media only screen and (max-width: 260px) {
    .catalog-page, .headerText, .txt{
        font: 16px 'Century';
    }
    .headerText {
        line-height: 31px;
        margin: 0 0 2.5px 0;
    }
}

@media only screen and (max-width: 248px) {
    .catalog-page, .headerText, .txt{
        font: 15px 'Century';
    }
    .headerText {
        line-height: 30px;
        margin: 0 0 2.5px 0;
    }
}

@media only screen and (max-width: 236px) {
    .catalog-page, .headerText, .txt{
        font: 14px 'Century';
    }
    .planks{
        height: 6px;
    }
    .headerText {
        line-height: 29px;
        margin: 0 0 2.5px 0;
    }
}

@media only screen and (max-width: 224px) {
    .catalog-page, .headerText, .txt{
        font: 13px 'Century';
    }
    .headerText {
        line-height: 28px;
        margin: 0 0 2.5px 0;
    }
}

@media only screen and (max-width: 211px) {
    .catalog-page, .headerText, .txt{
        font: 12px 'Century';
    }
    .headerText {
        line-height: 27px;
        margin: 0 0 1.5px 0;
    }
}

@media only screen and (max-width: 205px) {
    .catalog-page, .headerText, .txt{
        font: 11px 'Century';
    }
    .planks{
        height: 5px;
    }
    .headerText {
        line-height: 26px;
        margin: 0 0 0.5px 0;
    }
}

@media only screen and (max-width: 179px) {
    .catalog-page, .headerText, .txt{
        font: 10px 'Century';
    }
    .headerText {
        line-height: 25px;
        margin: 0 0 0px 0;
    }
}

@media only screen and (max-width: 170px) {

    .headerText {
        margin: 0 0 0px 0;
    }
}

@media only screen and (max-width: 158px) {
    .catalog-page, .headerText, .txt{
        font: 9px 'Century';
    }
    .planks{
        height: 5px;
    }
    .headerText {
        line-height: 24px;
        margin: 0 0 0px 0;
    }
}